{% extends 'base.html' %}
<title>{{ country_info.country }}</title>
{% load static %}
{% block content %}
{# TODO: грубые ошибке в верстке страницы: тег <ol> не закрыт. Теги  <b> и <u> пересекаются #}
<h2>Страна: {{ country_info.name }}</h2>
<b><u><div>Языки на которых говорят:</div></b></u> <br>
    <ol>
    {% for language_in in language_info %}
            <li>{{ language_in.name }}</li><br>
    {% endfor %}
        </li>
<a href="{% url 'countries-list' %}"> Назад </a>
{% endblock %}